@import "/src/app/styles/mixins/component-mixins.scss";

:host {
  display: block;
  max-width: 80rem;
  margin: 0 auto;
}

.users-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
  }

  th {
    color: cornflowerblue;
    cursor: s-resize;
  }

  &__checkbox-header {
    display: block;
    visibility: hidden;
  }

  &__body-row {
    display: contents;
  }

  &__table-row {
    position: relative;
  }

  &__options {
    display: table-cell;
    vertical-align: middle;
  }

  &__select-checkbox {
    position: absolute;
    top: 0.5rem;
    left: 0;
  }

  &__edit-icon {
    margin-left: 1.5rem;
  }

  &__email-column {
    color: cornflowerblue;
  }

  &__delete-button {
    margin-top: 1rem;
    padding: 0.75rem;
    @include accent-button;
  }
}

.add-title {
  color: cornflowerblue;
}

.loading,
.no-data {
  margin-top: 1rem;
  text-align: center;
}
