<table class="users-table">
    <thead>
        <tr>
          <th class="users-table__checkbox-header"></th>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let user of getUsersForCurrentPage()" class="users-table__table-row" (mouseenter)="user.hovered = true" (mouseleave)="user.hovered = false">
        <div>
        <input *ngIf="user.hovered" class="users-table__select-checkbox" type="checkbox" (click)="$event.stopPropagation()" />
      </div>
        <td>{{ user.id }}</td>
        <td>{{ user.registrationDate | date: 'dd.MM.yyyy' }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.position }}</td>
        <td class="users-table__email-column">
          <a [href]="'mailto:' + user.email">
            {{ user.email }}
          </a>
        </td>
        <td>{{ user.password | passwordHide}}</td>
        <td>{{ user.phoneNumber | phoneFormat}}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [currentPage]="currentPage" [totalItems]="users.length" [itemsPerPage]="1" (pageChange)="onPageChange($event)"></app-pagination>