@import "/src/app/styles/mixins/component-mixins.scss";

.app-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;

  &__button {
    padding: 0.75rem 0.5rem;
    border: none;
    background-color: transparent;
    text-underline-offset: 0.5rem;
    cursor: pointer;

    &.active {
      color: cornflowerblue;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
